# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.env

# Flask configuration
instance/
*.sqlite3

# Logs and debug files
*.log

# Coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# Migrations
migrations/

# Python egg files
*.egg
*.egg-info/
dist/
build/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS and Linux system files
.DS_Store
*.orig